/* CSS umum */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px; /* Sesuaikan dengan ukuran logo */
    margin-right: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .section {
    padding: 50px 20px;
    text-align: center;
  }
  
  .slider {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
  }
  
  .slide {
    width: 100%;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .social-media {
    margin-left: 20px;
  }
  
  .social-media a {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .social-media a:hover {
    color: #f39c12; /* Warna hover sesuai keinginan Anda */
  }
  
  /* Media Queries untuk Responsif */
  
  @media (max-width: 768px) {
    header {
      padding: 10px;
      flex-direction: column;
      align-items: center;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    .slider {
      width: 100%;
    }
  }
  